@import "vars"

body
  margin: 0
  padding: 0
  overflow-y: scroll

.main
  width: 100%
  height: auto
  min-height: 100vh

  position: relative



  z-index: 0

.color-picker
  position: absolute
  top: 10px
  left: 10px

  z-index: 3

#particles-js
  position: fixed
  top: 0
  left: 0

  width: 100%
  height: 100%

  z-index: 1
  background: linear-gradient(to top right, darken($accent-color, 10%), lighten($accent-color, 10%))

.content
  width: 100%
  height: 100%

  display: flex
  align-items: center
  justify-content: center
  z-index: 2
  position: relative

.content__wrapper
  height: 100%
  display: flex
  justify-content: center
  position: relative
  border-radius: 20px
  margin-top: 20px
  margin-bottom: 20px

.content__page
  width: 920px
  border-radius: 20px
  padding: 20px
  box-shadow: 0px 0px 50px $accent-color
  background: #fff
  position: absolute


div.card
  width: 700px
  top: 50vh
  left: 50%
  transform: translate(-50%, -50%)
  position: absolute
  z-index: 2


.transition-enter
  opacity: 0.01


.transition-enter.transition-enter-active
  opacity: 1
  transition: opacity 400ms ease-in


.transition-leave
  opacity: 1


.transition-leave.transition-leave-active
  opacity: 0.01
  transition: opacity 400ms ease-in

.transition-appear
  opacity: 0.01


.transition-appear.transition-appear-active
  opacity: 1
  transition: opacity 800ms ease-in
