@import "vars"
@import "fonts"

.profile
  width: 100%
  height: 100%

  display: -webkit-box
  display: -webkit-flex
  display: -ms-flex
  display: -moz-flex
  display: flex
  flex-direction: column
  align-items: center

  color: darken($accent-color, 60%)
  font-family: "Comfortaa"

  &__side
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flex
    display: -moz-flex
    display: flex
    flex-direction: column
    align-items: center
    height: 50%
    width: 100%

  &__avatar
    width: 6em
    height: 6em
    min-height: 110px
    min-width: 110px

    margin-top: 1em
    margin-bottom: 0.5em

    background: darken($accent-color, 40%)
    border: 2px solid #fff
    border-radius: 50%
    transition: all .3s

  &__nickname
    font-weight: bold
    font-size: 1.1em

  &__twittername

  &__link
    font-size: 0.7em
    font-style: italic
    color: darken($accent-color, 40%)
    text-decoration: none
    transition: all .3s
    &:hover
      color: darken($accent-color, 30%)
    &:active
      color: darken($accent-color, 50%)

  &__fullname
    font-size: 1.3em
    margin: 1em 0 0.5em

  &__bio
    font-size: 0.9em
    flex-grow: 1

  &__social
    width: 100%
    margin-bottom: 1em
